@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-red {
  min-height: 100vh;
  background: #e0e9c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.red-title {
  text-align: center;
  line-height: 2rem;
  font-family: "Cinzel", serif;
}
.red-title h1 {
  color: rgb(207, 58, 58);
}
.red-title h5 {
  color: rgb(240, 17, 17);
}
.red-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.red-img img {
  margin: 1rem;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transition: 0.4s all ease-in-out;
}
.red-img img:hover {
  border-radius: 50%;
}

.red-img1,
.red-img3 {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: floating 3s infinite ease-in-out;
  transform: translateY(0px);
}

.red-img2 {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.red-desc p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: 600;
  margin: 2rem 2.5rem 1rem 2.5rem;
}
.red-btn button {
  cursor: pointer;
  width: 15rem;
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  background: rgb(207, 58, 58, 0.596);
  border: 2px solid rgb(207, 58, 58);
  transition: 1s all ease-in-out;
}
.red-btn button:focus {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  color: white;
  background: rgb(207, 58, 58, 0.747);
  border: 2px solid rgb(207, 58, 58);
  box-shadow: inset 0px 0px 10px rgb(167, 45, 45);
}

@keyframes floating {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(15px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
    transform: translatey(0px);
  }
}

@media screen and (max-width: 840px) {
  .red-img2 {
    animation: floating 3s infinite ease-in-out;
    transform: translateY(0px);
  }
}
